.heading-main {
	color: rebeccapurple;
	text-align: center;
	font-size: 3rem;
}
aside {
	height: 100%;
	width: 20%;
}
main {
	width: 60%;
}
.map {
	display: flex;
	height: 600px;
	width: 300px;
	border: solid rebeccapurple;
	background: rgb(21, 0, 70);
	margin-left: 50%;
	translate: -50%;
}
